
  *{
    background:#4A9A86;
    border:solid;
    border-color:#EBF6F0#4A9A86;
    border-width:100 77;
    *{
      margin:-34 39;
      border-radius:50%;
      border:88q solid#4A9A86
    }

  }
